:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

hello {
  position: relative;
  flex: auto;
}

p {
  font-family: Lato;
}